@import url('./tag.css');

.panel-community {
  --padding-h: 20px;
  --padding-v: 12px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
  background-color: white;
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.header {
  padding: var(--padding-v) var(--padding-h) var(--padding-v) var(--padding-h);
  display: flex;
  flex-flow: column;
  width: 100%;
  border-bottom: 1px solid var(--gray-200);
  gap: 12px;
  box-sizing: border-box;

  .header-top {
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-flow: row;
    font-size: var(--font-u2);
    line-height: 1;
    gap: 16px;

    .title {
      display: flex;
      flex-flow: row;
      gap: 10px;
    }

    .filter {
      display: flex;
      flex-flow: row;
      align-items: baseline;
      gap: 5px;
      flex-grow: 0;

      &[is-hidden] {
        display: none;
      }
    }

    .name {
      font-weight: 600;
    }
  }

  .header-bottom {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    gap: 1em;
    line-height: 1;
  }
}

.header-toggle {
  --border-color: var(--gray-300);
  flex: 0 0 auto;
  display: flex;
  flex-flow: row;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: var(--font-d2);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  & span {
    display: flex;
    align-items: center;
    padding: 3px 8px 5px 8px;

    &:first-child {
      border-right: 1px solid var(--border-color);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      background-color: color-mix(in lab, var(--gray-200) 100%, white 90%);
    }

    &[is-active] {
      background-color: var(--gray-200);
    }
  }
}

.header-tag-list {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  gap: 5px;
  font-size: var(--font-d2);

  .name {
    flex: 0 0 auto;
    margin-right: 2px;
    padding: 3px 0 0 0;
  }
}

.popular-tags {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 7px;
}

.prompt-container {
  padding: var(--padding-v) var(--padding-h);
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 10px;

  promptlet-prompt-card {
  }
}
