.wordflow {
  width: 100%;
  min-height: 100%;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: none;

  background-color: var(--gray-100);
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.left-panel {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}

.right-panel {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}

.logo-container {
  position: fixed;
  top: 5px;
  display: flex;
  flex-flow: column;
  z-index: 2;

  & a {
    color: unset;
    text-decoration: none;
  }

  .row {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: var(--font-u3);
    gap: 3px;

    .svg-icon {
      opacity: 0.8;
      filter: grayscale(1);
      transition:
        filter 100ms,
        opacity 100ms;
    }

    .name {
      color: var(--gray-500);
      font-weight: 500;
      transition: color 100ms;
    }

    &:hover {
      .svg-icon {
        opacity: 1;
        filter: grayscale(0);
      }

      .name {
        color: #0c336a;
      }
    }
  }
}

.center-panel {
  display: flex;
  flex: 0 1 auto;
  width: 70ch;
  height: 100%;
  border-left: 1px solid var(--gray-300);
  border-right: 1px solid var(--gray-300);

  box-sizing: border-box;
}

.editor-content {
  display: flex;
  width: 100%;
  height: 100%;

  & wordflow-text-editor {
    width: 100%;
    height: 100%;
  }
}

.popper-box {
  position: absolute;
  width: max-content;
  left: 0px;
  top: 0px;
  z-index: 3;
  box-shadow:
    0 0 1px hsla(0, 0%, 0%, 0.6),
    0 0 3px hsla(0, 0%, 0%, 0.05);
  border-radius: 4px;
  font-size: $font-d3;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  transform: translate(0px, -50%);

  opacity: 1;
  transition:
    opacity 150ms,
    transform 150ms;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.floating-menu-box {
  position: absolute;
  z-index: 2;
  top: 200px;
  right: 405px;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: max-content;

  transform: translate(-50%, -50%);

  opacity: 1;
  transition:
    opacity 150ms,
    transform 150ms;

  &.hidden {
    opacity: 0;
  }
}

.popper-tooltip {
  position: absolute;
  width: max-content;
  left: 0px;
  top: 0px;
  z-index: 20;
  background: var(--gray-800);
  color: white;
  box-shadow:
    0 0 1px hsla(0, 0%, 0%, 0.6),
    0 0 3px hsla(0, 0%, 0%, 0.05);
  padding: 0px 5px 3px;
  border-radius: 4px;
  font-size: var(--font-d3);

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: none;
  text-align: center;

  opacity: 1;
  transform: scale(1);
  transform-origin: left center;
  transition:
    opacity 150ms,
    transform 150ms;

  &.hidden {
    opacity: 0;
    transform: scale(0.8);
  }

  .popper-content {
    max-width: 300px;
    max-height: 200px;
    line-height: 1.5;
    overflow: hidden;
    display: flex;
    user-select: none;
    -webkit-user-select: none;
  }

  .popper-arrow {
    position: absolute;
    background: var(--gray-800);
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }
}

wordflow-setting-window {
  display: flex;
  z-index: 3;
  transition: opacity 100ms;
  opacity: 1;

  &[is-hidden] {
    opacity: 0;
    pointer-events: none;
  }
}

.toast-container {
  position: absolute;
  top: 7px;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;

  nightjar-toast {
    max-width: 300px;
  }
}
