.floating-menu {
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  background-color: white;
  border-radius: 25px;
  box-shadow:
    0 4px 8px 3px hsla(0, 0%, 0%, 0.08),
    0 1px 3px hsla(0, 0%, 0%, 0.2);
  overflow: hidden;
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.tool-buttons {
  &[has-loading-action] {
    & button {
      cursor: not-allowed;

      &[is-loading] {
        cursor: progress;
      }
    }
  }
}

.icon {
  display: flex;
  position: relative;
}

button.tool-button {
  --padding: 4px;
  all: unset;
  width: 100%;
  padding: var(--padding) var(--padding);
  line-height: 1;
  background-color: white;
  box-sizing: border-box;
  color: var(--gray-700);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  .svg-icon {
    width: 28px;
    height: 28px;

    border-radius: 100%;
    border: 1px solid var(--gray-300);
    position: relative;

    font-size: 1em;
    font-weight: 700;
    text-align: center;
    vertical-align: center;
    line-height: 1;
    box-sizing: border-box;
    transition: box-shadow linear 100ms;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.08);

    & svg {
      width: 15px;
      height: 15px;
    }
  }

  & * {
    pointer-events: none;
  }

  &:hover {
    .svg-icon {
      box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
      transform: scale(1.05);
    }
  }

  &:active,
  &.active {
    .svg-icon {
      box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
      transform: scale(0.99);
    }
  }

  &:first-child {
    padding-top: calc(var(--padding) + 4px);
  }

  &:nth-last-child(1) {
    padding-bottom: calc(var(--padding) + 2px);
  }

  &.setting-button {
    padding-top: calc(var(--padding) + 1px);
    padding-bottom: calc(var(--padding) + 4px);
    border-top: 1px solid var(--gray-300);
  }

  &[is-empty] {
    color: var(--gray-300);
    font-size: 150%;

    .svg-icon {
      padding-bottom: 4px;
    }
  }
}

/* Special rule for safari to scale down the emojis */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  button {
    .svg-icon {
      font-size: 13px;
    }
  }
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  line-height: 1;
  border-radius: 50%;

  background: conic-gradient(
    color-mix(in lab, #f29350, transparent 0%),
    color-mix(in lab, #c76888, transparent 0%),
    color-mix(in lab, #8578cd, transparent 0%),
    color-mix(in lab, #3495dc, transparent 0%),
    color-mix(in lab, #8578cd, transparent 0%),
    color-mix(in lab, #c76888, transparent 0%),
    color-mix(in lab, #f29350, transparent 0%)
  );

  transition: opacity 100ms ease-in-out;
  opacity: 1;

  &[hidden] {
    display: none;
    pointer-events: none;
  }

  .circle-loader {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 4px solid;
    border-color: hsla(0, 100%, 100%, 0.75);
    border-right-color: hsla(0, 100%, 100%, 0.1);
    animation: circle-loader-animation 1s infinite linear;

    &::after {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      background-color: white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}

@keyframes circle-loader-animation {
  to {
    transform: rotate(1turn);
  }
}
