@import url('../panel-community/tag.css');

.prompt-card {
  --padding-h: 16px;
  --padding-v: 16px;
  /* --padding-h: 14px; */
  /* --padding-v: 10px; */

  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;

  padding: var(--padding-v) var(--padding-h);
  box-sizing: border-box;

  border: 1px solid var(--gray-300);
  border-radius: 10px;
  font-size: var(--font-d2);
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;

  transition:
    box-shadow linear 100ms,
    transform linear 100ms;
  transform-origin: center;
  background-color: white;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
  font-size: var(--font-d1);
  overflow: hidden;

  .icon {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    transform-origin: center center 0px;

    border-radius: 100%;
    border: 1px solid var(--gray-300);
    position: relative;

    box-sizing: border-box;
    transition: box-shadow linear 100ms;

    & span {
      /* Trick to horizontally align emojis */
      font-size: 34px;
      transform: scale(0.5);

      color: var(--gray-700);
      font-weight: 700;
      line-height: 1;
    }
  }

  .name-wrapper {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;

    .name {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.prompt {
  display: -webkit-box;
  line-height: 1.25;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 3px;
  flex: 1 1 auto;
}

.tag-list {
  display: flex;
  flex-flow: row wrap;
  gap: 7px;
}

.footer {
  width: 100%;
  font-size: var(--font-d2);
  color: var(--gray-700);

  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .share-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: 5px;
    overflow: hidden;

    .separator {
      width: 1px;
      border-radius: 1px;
      transform: scale(1, 0.6);
      transform-origin: center;
      background-color: var(--gray-400);
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

/* Special styles for the local prompt card */
.prompt-card[is-local] {
  gap: 2px;

  .prompt {
    margin: 0;
  }
}
