@import url('../panel-community/tag.css');

.prompt-card {
  --padding-h: 12px;
  --padding-v: 8px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;

  padding: var(--padding-v) var(--padding-h);
  box-sizing: border-box;

  border: 1px solid var(--gray-300);
  border-radius: 10px;
  font-size: var(--font-d2);
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
  font-size: var(--font-d1);
  overflow: hidden;

  .icon {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    transform-origin: center center 0px;

    border-radius: 100%;
    border: 1px solid var(--gray-300);
    position: relative;

    box-sizing: border-box;
    transition: box-shadow linear 100ms;

    & span {
      /* Trick to horizontally align emojis */
      font-size: 32px;
      transform: scale(0.5);

      color: var(--gray-700);
      font-weight: 700;
      line-height: 1;
    }
  }

  .name-wrapper {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;

    .name {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.prompt {
  line-height: 1.25;
}

.footer {
  width: 100%;
  font-size: var(--font-d2);
  color: var(--gray-700);

  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .share-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: 4px;
    overflow: hidden;

    .separator {
      width: 2px;
      border-radius: 1px;
      background-color: var(--gray-300);
      transform: scale(1, 0.7);
      transform-origin: center;
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
