@import url('../global.css');

body {
  background-color: #fff;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: 25%;

  & img {
    width: 100px;
    height: 100px;
  }
}

h1 {
  margin-top: 0px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid #eee;
}

.footer-notice {
  font-size: 12px;
  color: #999;
}
