@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.confirm-dialog {
  --padding-v: 18px;
  --padding-h: 20px;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 500px;
  box-shadow:
    0px 11px 15px -7px hsla(0, 0%, 0%, 0.2),
    0px 24px 38px 3px hsla(0, 0%, 0%, 0.14),
    0px 9px 46px 8px hsla(0, 0%, 0%, 0.12);

  padding: 0;
  border: none;
}

.confirm-dialog[open] {
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  padding: 0;
  pointer-events: all;

  &::backdrop {
    background-color: hsla(0, 0%, 0%, 0.55);
    animation: fade-in 300ms;
  }
}

.header {
  padding: var(--padding-v) var(--padding-h) 0px var(--padding-h);
  margin: 0;
  line-height: 1;
  font-size: var(--font-u3);
  width: 100%;

  display: flex;
  flex-flow: row;
  align-items: center;
  box-sizing: border-box;
}

.separator {
  display: flex;
  width: calc(100% - 40px);
  height: 3px;
  border-radius: 5px;
  background-color: var(--gray-200);
}

.content {
  display: flex;
  flex-flow: column;
  gap: 12px;
  padding: 16px var(--padding-h);

  .skip-bar {
    color: var(--gray-800);
  }
}

.button-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;

  gap: 10px;
  width: 100%;
  padding: 0px var(--padding-h) var(--padding-v) var(--padding-h);

  & button {
    all: unset;
    cursor: pointer;
    background-color: var(--gray-200);
    padding: 3px 8px;
    border-radius: 8px;
    display: flex;
    flex-grow: 0;
    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: var(--gray-300);
    }

    &:active {
      background-color: var(--gray-400);
    }

    /* &.cancel-button {
      color: white;
      background-color: $blue-500;

      &:hover {
        background-color: $blue-600;
      }

      &:active {
        background-color: $blue-700;
      }
    } */
  }

  & a {
    color: currentColor;
    font-style: normal;
    text-decoration: none;
  }
}
